.footer{
	padding: $footer-padding;
	margin-top: $padding-lg;
	border-top: 1px solid $border-color;
	&--logo {
		svg {
			width: 197px;
			height: 37px;
			display: block;
			margin: 0 auto;
			.mlc-text {
				fill: $color-light-grey;
			}
		}
	}
}
