.header{
	background: $primary-color;
	padding: $padding-sm 0;
	&--logo {
		svg {
			width: 197px;
			height: 37px;
			.mlc-text {
				fill: $color-white;
			}
		}
	}

	&--title {
		color: $color-white;
		margin: 0;
	}
}
