#content {
	margin: $padding-md auto;
}

.page{
	&-header {
		background: $page-header-background;
		color: $page-header-font-color;
		position: relative;
		@include rem(margin-bottom, $padding-lg);
		text-align: center;
		background-size: cover;
		@include media-breakpoint-down(sm) {
			@include rem(margin-bottom, $padding-md);
		}
		&--content {
			@include rem(padding, $page-header-padding);
		}
		@include media-breakpoint-down(md) {
			text-align: center;
		}
		&--image {
			width: 100%;
			height: auto;
		}
	}
	&-title {
		margin: 0;
		@include rem(font-size, $page-title-size);
		font-weight: $page-title-font-weight;
		color: $page-header-font-color;
		text-transform: uppercase;
		letter-spacing: 4px;
		line-height: 1.0;
	}
	&-content {
		padding-top: $padding-md;
		padding-bottom: $padding-md;
		line-height: 2.0;
		@include media-breakpoint-down(md) {
			padding: $padding-md;
		}
		a:not(.btn) {
			text-decoration: underline;
			font-weight: 600;
			&:hover {
				color: $primary-color;
			}
		}
	}
}
