#content {
	margin: $padding-md auto;
}

.page{
	&-header {
		background: $page-header-background;
		color: $page-header-font-color;
		position: relative;
		margin-bottom: $padding-lg;
		text-align: center;
		background-size: cover;
	}
	&-title {
		margin: 0;
		font-size: $page-title-size;
		font-weight: $page-title-font-weight;
		color: $page-header-font-color;
		text-transform: uppercase;
		letter-spacing: 4px;
		line-height: 1.0;
	}
	&-content {
		padding-top: $padding-md;
		padding-bottom: $padding-md;
		line-height: 2.0;
		@include media-breakpoint-down(md) {
			padding: $padding-md;
		}
		a:not(.btn){
			text-decoration: underline;
			font-weight: 600;
			&:hover {
				color: $primary-color;
			}
		}
		.wp-block-code {
			padding: 5px;
			/*min-height: 60px;*/
			background: $border-color;
			border-radius: 15px;
			color: $secondary-color;
			code {
				padding: $padding-sm;
				
			}
		}

		img {
			margin: 15px auto;
		}

		h2 {
			margin: $padding-md 0 $padding-sm;
		}
	}
}
