.my-new-block {
	h2 {
		color : $primary-color;
	}
	h3 {
		display: inline-block;
		margin: 0 0 15px;
	}
	&__attributes {
		background: $color-light-grey;
		padding: 30px;
		color: $secondary-color;
		p:last-child {
			margin-bottom: 0;
		}
		&--item {
			border-bottom: 1px solid $secondary-color;
			padding-bottom: 15px;
			margin-bottom: 15px;
			&:last-child {
				border-bottom: none;
				padding-bottom: 0px;
			}
		}
	}
}