.field {
	position: relative;
	@include rem(margin-bottom, 15px);
	label {
		/*display: block;*/
		/*font-weight: bold;*/
	}
	input[type="text"], textarea, input[type="password"],input[type="tel"],input[type="email"] {
		@include fieldStandard();
		background: #fff;
		border-radius: 10px;
	}
	textarea {
		@include rem(min-height, 80px);
	}
	.error {
		position: absolute;
		top: 100%;
		@include rem(left, 10px);
		color: $red;
		font-weight: bold;
		@include rem(font-size, 12px);
	}
}

.checkbox {
	@include make-row();
	@include rem(margin, 0 0 15px);
	align-items: center;
	label {
		margin-bottom: 0;
	}
	input[type="checkbox"] {
		@include rem(margin-right, 5px);
	}
}

.radio {
	position: relative;
	input[type="radio"] {
		@include rem(margin-right, 10px);
	}
}

.select {
	select {
		@include styleSelect();
		border: 1px solid $color-light-grey;
		@include rem(height, 44px);
	}
}